
<!-- nav bar에서 누른 login Modal -->
  <div class="modal fade" id="ModalLogin" role="dialog" aria-labelledby="introduce" aria-hidden="true">
    <div class="modal-content">
          <div class="login_content">
              <div class="codropsheader">
					<h3>Hello, my name is <span>Heejoe Haley Hwang</span>.</h3>
					<h2>Feel Free to take a look at my <span>portfolio</span>.</h2>
					<h2>Unfortunately, I only had two days building the web portfolio, so it's not optimized to phone or tablet. Hope you to check this out with your computer.
					I do know this is not complete, but hope you to understand and enjoy looking this crap. lol</h2>
					<h2>I am very passionate to build this website only for Ascend although there is a lot of room for ascending!</h2>						
					<h2>Let's keep Ascending!</h2>
		  <button type="button" class="login_button" data-dismiss="modal">Explore More!</button>
              </div>
		 </div>
    </div>
  </div>
