<section>
	<h2>Haley Hwang</h2>
	<p>Hi, I am from South Korea and just got transferred to IU!</p>
	<p>I am under 'SKKU GBS/KelleySchoolofBusinessPartnership:DualDegreeProgram’
	This is Seoul and SKKU campus.</p>
	
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
          <img src="img/skku1.jpg" alt="skku">
        </a>
      </div>
      <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
          <img src="img/skku2.jpeg" alt="skku">
        </a>
      </div>
      <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
          <img src="img/skku3.jpg" alt="skku">
        </a>
      </div>
    </div>
</section>
<section>
	<h2>What I like..</h2>
	<ul>
    	<li><p>I love <span>traveling</span>! I've been a lot of countries; US, Canada, Europe, Japan, Taiwan, HongKong, Russia, and so on. Also, I've traveled San Francisco during the spring break and will travel Florida in summer!</p></li>
    	<li><p>I love eating! I am <span>foodie</span>:) Always feel free to recommend some great place to eat..!</p></li>
    	<li><p>I love playing <span>sports</span>! I am now in the scuba diving certification courses, doing Softball in IM sports, and playing badminton on Sunday at SRSC.</p></li>
    </ul>
</section>
<section>
	<h2>Wanna see more pics?</h2>
    <p>Follow me on <a href="https://www.instagram.com/heejoe.withjoy/">instagram</a>!</p>
</section>

	<h2>Meet me in person and find out more!</h2>
	<h2>I am looking forward to hearing from you!</h2>

