<section>
	<h2>Experience <br><small>Soo-neung Drive</small></h2>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="img/club.jpg" alt="club">
          <div class="caption">
            <h3>Longest Team Project</h3>
          </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="img/satdb_thumb.png" alt="satdb">
          <div class="caption">
            <h3>beta version</h3>
          </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="img/ex_hack.jpeg" alt="hackathon">
          <div class="caption">
            <h3>SKKU Likelion</h3>
          </div>
        </div>
    </div>
</div>
	<p>After studying Ruby on Rails about 6 months, I and my team planned to help out Korean students in their SAT, called Soo-neung. We devised model of website, searching and customizing all the previous tests on their own. Through this idea and with team of seven, we won 1st prize in the LikeLion Hackathon. After hackathon, we launched our beta-service for a while. However there were so many bugs that we cannot handle and we got negative feedback a lot from various people including VCs. In addition, establishing our own company was far from our initial goal, we sadly gave up on the procedure after trying about a year.</p>
<h2><small>SKKLUB</small></h2>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="img/skklub.png" alt="skklub">
          <div class="caption">
            <h3>Yayy</h3>
            <p>we made it!</p>
          </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="img/skklub2.jpeg" alt="skklub2">
          <div class="caption">
            <h3>My SKKLUB Team</h3>
            <p>with banner we made</p>
          </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="img/skklub3.jpeg" alt="skklub3">
          <div class="caption">
            <h3>SKKLUB w/ Google Analytics</h3>
          </div>
        </div>
    </div>
</div>
	<p>After failure of Soo-neung Drive, I was looking for develop a simple service around my daily life. One day, in the club, I heard my senior grumbling about the inconvenience of getting other clubs’ information. As a freshman, I could totally relate myself with what he said and thought it would be a nice chance to test my programming capacity. Through the short conversation, we decided to build the website that introduces clubs in SKKU. Through designing all the functions to advertising, we all went through the procedures by ourselves. In SKKLUB team, I outlined all the kinds of information that we need to put on the website, made online surveys, distributed to all each president of the club, built database, and managed database. I am also the manager of the website untill now, so if any problem occurs, a club's president contacts me.</p>
	<a href="http://skklub.com" type="button" class="btn btn-danger btn-lg" >Visit the website</a>
	<br>
    

<h2><small>SKKU UX Design School</small></h2>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="img/ux.jpg" alt="UX1">
          <div class="caption">
            <h3>My UX team</h3>
            <p>at the end</p>
          </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="img/UX2.jpeg" alt="UX2">
          <div class="caption">
            <h3>Developing Ideas</h3>
            <p></p>
          </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="img/UX.jpeg" alt="UX3">
          <div class="caption">
            <h3>My UX Team</h3>
            <p>at start</p>
          </div>
        </div>
    </div>
</div>
<p>While building SKKLUB site, I desperately felt the need to learn about UX/UI. Fortunately, I heard the news that the program called 'UX Design School' will be held during the summer break, I applied for it. I've learned many theories including 4D model of ideas, story board, and persona with tools to design mock UX. We developed the UX design of Android app, helping students to find job more easily.</p>
</section>

<section>
    <h2>Volunteer <br><small>Be a Coding Hero!2.5+</small></h2>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="img/volunteer1.jpeg" alt="volunteer1">
          <div class="caption">
            <h3>Visiting MS</h3>
            <p>with my team</p>
          </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="img/volunteer3.jpeg" alt="volunteer3">
          <div class="caption">
            <h3>Volunteering Work</h3>
            <p>my students</p>
          </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="img/volunteer2.jpeg" alt="volunteer2">
          <div class="caption">
            <h3>Super Fancy MS</h3>
            <p>like the pics</p>
          </div>
        </div>
    </div>
</div>
<p>After learning programming, I felt I want to share this incredible experience with others. Also, since I have learned it for free, I want to share my experience and be of help for the society. Therefore I applied for one of the competitive volunteer programs, 'be a coding hero'. There, I met various teenagers to children and teach them what programming is through unplugged game. Also, we taught KODU tools to help them develop game. </p>
</section>

<section>
	<h2>Job</h2>
	<p>I have worked in the CNC English academy. I built intimate relationship with students to help improve their English, resulting in great feedback from every monthly satisfaction surveys and received an offer to teach children as a lecturer. Also, I generated documents based on student database using Microsoft Excel and managed book database.</p>
	</section>

